<div class= "form-title" style = "color:white">
<h6>
    <br>
    <br>
    Looking for something to watch?
    <br>
    <br>
    {# {{url_for('main.random_movie_gen')}} #}
    {{movie_blurb}}
    {# {% for blurb in movie_blurb %}
    <p>{{ blurb }}</p>
    {% endfor %} #}
    {# {{app.main.movie_blurb}} #}
    <br>
</h6>
</div>

{{current_user.id}}