{% extends "base.html.j2" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for(''static', filename='css/my_movies.css')}}">
{% endblock  %}

{% block content %}
    my_movies
{% endblock %}
