{% extends 'base.html.j2' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block title %}
Write a movie review
{% endblock %}

{% block content %}
    <div class="white">
        <form action="{{url_for('main.write_review')}}" method="POST">
            <div class="mb-3">
                {# first form - query movie #}
                <textarea class="form-control" placeholder="Name of the Movie" name="movie_name" style="height: 20px;"></textarea><br>
                <textarea class="form-control" placeholder="Release Year" name="movie_year" style="height: 20px;"></textarea><br>
                <textarea class="form-control" placeholder="Say what you feel. (Review Title)" name="review_title" style="height: 20px;"></textarea><br>
                <textarea class="form-control" placeholder="Use your voice. (Your Review)" name="review_body" style="height: 50px;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i>&nbsp;Speak your truth</button>
        </form>
<hr>
                {# show user reviews #}
                {% for review in all_reviews %}
                    {% include './includes/_reviews.html.j2' %}<br><br>
                {% endfor %}

            </div>
        </form>
    </div>


    {% endblock %}